<div class=" ng-scope">
    <!-- ui-view-anchor -->

    <div class="row ">

        <div class="col-md-3 ">


            <div class="nav-side-menu riddle-side-nav">
                <div class="brand">{{detail.serviceName}}</div>
                <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

                <div class="menu-list">

                    <ul id="menu-content" class="menu-content collapse out">
                        <li data-toggle="modal" data-target="#new-filter-modal" ng-click="detail.setModalId(widget.clickId)">
                            <a href="#">
                                <i class="fa fa-dashboard fa-lg"></i> New {{detail.serviceName}}
                            </a>
                        </li>

                    </ul>
                </div>
            </div>

        </div>

        <div class="col-md-8">


            <div ui-view=" ">

                <div class="row riddel-detail-row">

                    <div ng-repeat="item in detail.items">


                        <form-filter form-item="item" click-id='$index'>
                        </form-filter>


                    </div>
                </div>



            </div>
        </div>
    </div>

</div>
<!-- Modal -->


<edit-form-filter service-name="{{detail.serviceName}}">
</edit-form-filter>
