<div class="modal fade" id="new-filter-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content riddle-border-radius">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">{{wef.serviceName}}</h4>
            </div>
            <div class="modal-body">

                <div class="col-md-12 col-sm-6 col-xs-12">
                    <div class="panel material-panel">

                        <div class="panel-body">
                            <form id="addForm" class="row-border" ng-submit="wef.submitForm($event)">

                                <div class="form-group ">

                                    <div class="form-group row">
                                        <label class="col-xs-2 col-form-label">name</label>
                                        <div class="col-xs-10">
                                            <input class="form-control material-input" type="text " placeholder="name" ng-model="wef.name">

                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-xs-2 col-form-label">treshold</label>
                                        <div class="col-xs-10">
                                            <input class="form-control material-input" type="text " placeholder="threshold" ng-model="wef.threshold">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-xs-2 col-form-label">treshold-top</label>
                                        <div class="col-xs-10">
                                            <input class="form-control material-input" type="text " placeholder="treshold-top" ng-model="wef.tresholdtop">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-xs-2 col-form-label">unit</label>
                                        <div class="col-xs-10">
                                            <input class="form-control material-input" type="text " placeholder="unit" ng-model="wef.unit">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-xs-2 col-form-label">active</label>
                                        <div class="col-xs-10">
                                            <input class="form-control material-input" type="checkbox" name="check " value="inline " ng-model="wef.inlineChecked">
                                        </div>
                                    </div>

                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer" style="border-top:none">
                <button type="button" class="btn actionButton" data-dismiss="modal">Close</button>
                <button type="submit" form="addForm" class="btn actionButtonEdit">Save changes</button>
            </div>
        </div>
    </div>
</div>
